html {
    font-family: 'Roboto', sans-serif;
}
body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vw 5vw 30vw 3vw;

    margin: 0 auto;
    max-width: 75em;
    padding: 1em 0;
    background-color: black;
}


header,
nav,
main,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-col {
    grid-column: 1 / span 1;
    grid-row: 2 /span 4;
    
    background-color: lightgreen;
}
header {
    grid-column: 1 /span 3;   
}
nav, footer {
    grid-column: 2 /span 3;   
}
ul {
    width: 100%;
    display: flex;
    justify-content:center;
    
}
h1 {
    font-size: 4em;
}
li {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    padding: 1.2em;
}
a:hover {
    background-color:limegreen;
}
nav, footer {
    background-color: lightgreen;
}
main {
    display:block;
    background-image: url("../images/zeros_and_ones2.jpg");
    background-size: cover;
    color: whitesmoke;

}
h2 {

    width: 100%;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    font-size: 7em;
    margin-top: 150px;

}
main p {

    font-size: 2em;
    text-align:center ;

}
aside {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:lightgreen

}
.icon {
    flex-wrap: wrap;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    width: 75px;
    height: 100px;

}
.div1 {
    background-image: url("../images/icon-html.png");

}
.div2 {
    background-image: url("../images/icon-css.png");

}
.div3 {
    background-image: url("../images/icon-js.png");

}