html {
    font-family: 'Roboto', sans-serif;
}
body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vw 5vw 30vw 3vw;

    margin: 0 auto;
    max-width: 75em;
    padding: 1em 0;
    background-color: black;
}


header,
nav,
main,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-col {
    grid-column: 1 / span 1;
    grid-row: 2 /span 4;
    
    background-color: #eaeaea;
}
header {
    grid-column: 1 /span 3;   
}
nav, footer {
    grid-column: 2 /span 1;   
}
ul {
    width: 100%;
    display: flex;
    justify-content:center;
    
}
h1 {
    font-size: 4em;
}
.dropdown {

    display: none;
  }
li {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    padding: 1.2em;
}
a:hover {
    background-color:limegreen;
}
nav, footer {
    background-color: lightgreen;
}
main {
    /*display:block;*/
    display: flex;
    flex-direction: column;
    background-image: url("../images/zeros_and_ones2.jpg");
    background-size: cover;
    color: whitesmoke;

}

h2 {

    
    font-family: 'Gochi Hand', cursive;
    
    font-size: 7em;


}
main p {

    font-size: 2em;


}
aside {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#eaeaea;
    grid-column: 3 / span 1;
    grid-row: 2 /span 4;
    

}
.icon {
    flex-wrap: wrap;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    width: 75px;
    height: 100px;

}
.div1 {
    background-image: url("../images/icon-html.png");

}
.div2 {
    background-image: url("../images/icon-css.png");

}
.div3 {
    background-image: url("../images/icon-js.png");

}
@media only screen and (max-width: 400px){
    body {
        
        
        grid-template-rows: 20vw 15vw 130vw 6vw;
    
        margin: 0 auto;
        max-width: 75em;
        padding: 1em 0;
        background-color: black;
    }
    h1 {
        font-size: 2em;
    }
    h2 {        
        font-size: 3.5em;
        text-align: center;
    }
    main p {
    
        font-size: 1.2em;
    
    
    }
    ul {
        display: none;
    }
    nav {
        align-items:center;
        justify-content:left;
       
    }
/* Style The Dropdown Button */
.dropbtn {
    background-color: lightgreen;
    color: black;
    margin-left: 20px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;

    
    
        
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  }